<body>
    <div class="text-center" style="color:antiquewhite">
        <h1 class="display-4">Welcome</h1>
    </div>
    <footer style="color:black">
        <div >
            <img  src="images\hospital.jpg" alt="">
            <p>
                Our Hospital cares about all of you , and hope you'll get better soon.
            </p>
        </div>
    </footer>
</body>
